.container {
  width: 1200px;
  background: linear-gradient(65deg, #57adf3 0%, #0af186 100%);

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 25px;
  height: auto;
  border-radius: 25px;
}
